services:
  booth-checker:
    image: ghcr.io/max-flavor/booth-checker:latest
    volumes:
      - ./version:/root/boothchecker/version
      - ./archive:/root/boothchecker/archive
      - ./changelog:/root/boothchecker/changelog
      - ./config.json:/root/boothchecker/config.json
    depends_on:
      - booth-discord
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
      
  booth-discord:
    image: ghcr.io/max-flavor/booth-discord:latest
    volumes:
      - ./version:/root/boothchecker/version
      - ./changelog:/root/boothchecker/changelog
      - ./config.json:/root/boothchecker/config.json
    depends_on:
      - chrome
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  postgres:
    image: postgres:18.0
    restart: unless-stopped
    environment:
      POSTGRES_DB: booth
      POSTGRES_USER: booth_user
      POSTGRES_PASSWORD: booth_password
    ports:
      5433:5432
    volumes:
      postgres-data:/var/lib/postgresql
    logging:
    driver: json-file
    options:
      max-size: 10m
      max-file: "3"

  chrome:
  image: selenium/standalone-chrome:latest
  restart: unless-stopped
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
