name: latest

on:
  push:
    tags:
      - 'v*'   # v1.0.0 같은 태그 푸시될 때만 실행

env:
  REGISTRY: ghcr.io
  IMAGE_NAME_BOOTH_CHECKER: ${{ github.repository_owner }}/booth-checker
  IMAGE_NAME_BOOTH_DISCORD: ${{ github.repository_owner }}/booth-discord

jobs:
  docker-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # =======================
      # booth-checker
      # =======================
      - name: Extract metadata (booth-checker)
        id: meta_booth_checker
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_BOOTH_CHECKER }}
          tags: |
            type=raw,value=latest
            type=ref,event=tag

      - name: Build and push (booth-checker)
        id: push_booth_checker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/booth-checker/Dockerfile
          push: true
          tags: ${{ steps.meta_booth_checker.outputs.tags }}
          labels: ${{ steps.meta_booth_checker.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation (booth-checker)
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_BOOTH_CHECKER }}
          subject-digest: ${{ steps.push_booth_checker.outputs.digest }}
          push-to-registry: true

      # =======================
      # booth-discord
      # =======================
      - name: Extract metadata (booth-discord)
        id: meta_booth_discord
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_BOOTH_DISCORD }}
          tags: |
            type=raw,value=latest
            type=ref,event=tag

      - name: Build and push (booth-discord)
        id: push_booth_discord
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/booth-discord/Dockerfile
          push: true
          tags: ${{ steps.meta_booth_discord.outputs.tags }}
          labels: ${{ steps.meta_booth_discord.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation (booth-discord)
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_BOOTH_DISCORD }}
          subject-digest: ${{ steps.push_booth_discord.outputs.digest }}
          push-to-registry: true

  publish-release:
    runs-on: ubuntu-latest
    needs: docker-build
    permissions:
      contents: write
    steps:
      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true